{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/essential",
    "@avalanche/eslint-config"
  ]
}
